body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.space {
  position: relative;
  width: 800px;
  height: 600px;
  background-image: linear-gradient(blue, purple);
}

.player {
  position: absolute;
  height: 50px;
  width: 50px;
}

.enemy {
  position: absolute;
  width: 30px;
  height: 30px;
}

.projectile {
  position: absolute;
  width: 7px;
  height: 15px;
}

.score {
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
